.footer {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-cont {
    display: flex;
    align-items: baseline;
  }
  .footer-left {
    margin-right: 70px;
  }
  .footer-right {
    margin-right: 93px;
  }
  .footer-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .footer-studio {
    color: var(--primary-title-color);
  }
  .footer-item{
    &:not(:last-child) {
    margin-bottom: 9px;
  }
}
  .footer-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--time) var(--cubic-bezier);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  
 
  