.header {
  background-color: var(--header-color);
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header-container {
  display: flex;
  align-items: center;
}
.header__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}
.header__logo--studio {
  color: var(--secondary-title-color);
}
.menu {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.header-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.contacts {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}

.burger-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.burger-icon {
  transition: color var(--time) var(--cubic-bezier);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--time) var(--cubic-bezier),
    visibility var(--time) var(--cubic-bezier);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.close-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
}
.close-icon {
  transition: color var(--time) var(--cubic-bezier);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu__link {
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
    transition: color var(--time) var(--cubic-bezier);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
.menu__page-link {
  @media screen and (min-width: 768px) {
    color: var(--accent-color);
  }
}
.menu__link.menu__page-link::after {
  @media screen and (min-width: 768px) {
    content: "";
    width: 100%;
    position: absolute;
    height: 4px;
    display: block;
    border-radius: 2px;
    background-color: var(--accent-color);
    bottom: -32px;
  }
}
.menu__link--color {
  @media screen and (min-width: 768px) {
    color: var(--secondary-title-color);
  }
}

.menu__item {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.contacts__tel {
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    transition: color var(--time) var(--cubic-bezier);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.contacts__mail {
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    transition: color var(--time) var(--cubic-bezier);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.contacts__icon {
  @media screen and (min-width: 768px) {
    margin-right: 10px;
    vertical-align: middle;
    fill: var(--primary-text-color);
    transition: fill var(--time) var(--cubic-bezier);
    .contacts__tel:hover &,
    .contacts__tel:focus & {
      fill: var(--accent-color);
    }
    .contacts__mail:hover &,
    .contacts__mail:focus & {
      fill: var(--accent-color);
    }
  }
}
