.address {
    margin-top: 20px;
    font-style: normal;
  }
  .address-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
    transition: color var(--time) var(--cubic-bezier);
    &:hover,
  &:focus {
    color: var(--accent-color);
  }
  }
  