.modal-btn {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--primary-title-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    cursor: pointer;
    transition: color var(--time) var(--cubic-bezier);
    &:hover,
  &:focus {
    color: var(--accent-color);
  }
  }
  
  .modal-close-icon {
    fill: currentColor;
  }